node_modules/
.env

storage/hospitales/**.jpg
storage/hospitales/**.png
storage/hospitales/**.gif
storage/hospitales/**.jpeg


storage/medicos/**.jpg
storage/medicos/**.png
storage/medicos/**.gif
storage/medicos/**.jpeg


storage/usuarios/**.jpg
storage/usuarios/**.png
storage/usuarios/**.gif
storage/medicos/**.jpeg

